<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.alteration.cat">
    '
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".alarm.AlarmActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="kr.co.alteration.cat.popup"
            android:theme="@style/AlarmTheme" />
        <activity android:name=".ui.CalendarActivity" />

        <receiver
            android:enabled="true"
            android:name=".alarm.NotiManager">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".client.ClientService">
            <intent-filter>
                <action android:name="kr.co.alteration.client.startClientService"/>
            </intent-filter>
        </service>

        <activity android:name=".ui.NotificationSettingActivity"></activity>
    </application>

</manifest>